body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    height: 100vh;
    overflow: hidden;
    padding: 0 5rem;
}

nav {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 10rem;
}

nav img{
    width: 10%;
}


.everything-countainer {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 35rem;
}

.countainer-1 {
    grid-area: 1 / 1 / 2 / 2; 
}
.countainer-2 {
    grid-area: 1 / 2 / 2 / 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.room1 {
    grid-area: 1 / 1 / 6 / 3; 
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #333;
}

.room1 p{
    background-color:#ffffffe6 ;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    padding: 6px 30%;
}

.room2 {
    grid-area: 6 / 1 / 12 / 3;
    background-color: khaki;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #333;
}

.room2 p{
    background-color:#ffffffe6 ;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    padding: 6px 30%;
}

.room3 {
    grid-area: 1 / 4 / 6 / 5; 
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #333;
}

.room3 p{
    background-color:#ffffffe6 ;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    padding: 6px 30%;
}

.room4 {
    grid-area: 1 / 5 / 6 / 6; 
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #333;
}

.room4 p{
    background-color:#ffffffe6 ;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    padding: 6px 30%;
}

.room5 {
    grid-area: 6 / 4 / 12 / 5; 
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #333;
}

.room5 p{
    background-color:#ffffffe6 ;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    padding: 6px 30%;
}

.room6 {
    grid-area: 6 / 5 / 12 / 6; 
    background-color: magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #333;
}

.room6 p{
    background-color:#ffffffe6 ;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    padding: 6px 30%;
}

.adding-bar button {
    background-color: #4CAF50;
    border: 1px solid black ;
    border-radius: 6px;
    width: 80%;
    color: white;
    padding: 12px 24px;
}
